In [9]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import re

In [10]:
dados = pd.read_csv('../dados/titles.csv')
dados.tmdb_popularity.describe()

count    5759.000000
mean       22.637925
std        81.680263
min         0.009442
25%         2.728500
50%         6.821000
75%        16.590000
max      2274.044000
Name: tmdb_popularity, dtype: float64

In [34]:
def genero(genero, csv):
    dados = csv
    dados[genero] = dados['genres']
    generos = []
    for i in range(10):
        lista = dados['genres'].iloc[i].split(',')
        lista_limpa = []
        for x in lista:
            p = ''
            for l in x:
                if l != '[' and l !=']':
                    p += l
            lista_limpa.append(p)
        tamanho = len(lista_limpa)
        print(tamanho)
        print(lista_limpa)
        for e in range(tamanho):
            genero = lista_limpa[e]
            generos.append(genero)
            print(e)
            print(genero)
                
    return(genero)

genero('action', dados)

1
["'documentation'"]
0
'documentation'
2
["'drama'", " 'crime'"]
0
'drama'
1
 'crime'
4
["'drama'", " 'action'", " 'thriller'", " 'european'"]
0
'drama'
1
 'action'
2
 'thriller'
3
 'european'
3
["'fantasy'", " 'action'", " 'comedy'"]
0
'fantasy'
1
 'action'
2
 'comedy'
2
["'war'", " 'action'"]
0
'war'
1
 'action'
2
["'comedy'", " 'european'"]
0
'comedy'
1
 'european'
1
["'comedy'"]
0
'comedy'
3
["'thriller'", " 'action'", " 'crime'"]
0
'thriller'
1
 'action'
2
 'crime'
3
["'crime'", " 'drama'", " 'action'"]
0
'crime'
1
 'drama'
2
 'action'
3
["'romance'", " 'action'", " 'drama'"]
0
'romance'
1
 'action'
2
 'drama'

" 'drama'"

In [11]:
print('Fizemos a função gênero para conseguir analisar, dado a nossa target = popularidade dos filmes,\nqual a relação entre o gênero dele e a sua popularidade')
def generos(genero, csv):
    dados = csv
    dados[genero] = dados['genres']
    for i in range(0,len(dados)):
            lista = dados['genres'].iloc[i]
            if genero in lista:
                dados[genero][i] = 1
            else:
                dados[genero][i] = 0
    return(dados)
print('essa é a base de dados com alguns gêneros aplicados pela função')
dados = generos('comedy', pd.read_csv('../dados/titles.csv'))
dados = generos('romance', dados)
dados = generos('drama', dados)
dados = generos('action', dados)
dados = generos('fantasy', dados)
dados = generos('horror', dados)
dados.head(5)

Fizemos a função gênero para conseguir analisar, dado a nossa target = popularidade dos filmes,
qual a relação entre o gênero dele e a sua popularidade
essa é a base de dados com alguns gêneros aplicados pela função

C:\Users\grupo\AppData\Local\Temp/ipykernel_15100/2412507590.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados[genero][i] = 0
C:\Users\grupo\AppData\Local\Temp/ipykernel_15100/2412507590.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dados[genero][i] = 1

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,...,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,comedy,romance,drama,action,fantasy,horror
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,...,NaN,NaN,0.600,NaN,0,0,0,0,0,0
1,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,114,"['drama', 'crime']",['US'],NaN,...,8.2,808582.0,40.965,8.179,0,0,1,0,0,0
2,tm154986,Deliverance,MOVIE,Intent on seeing the Cahulawassee River before...,1972,R,109,"['drama', 'action', 'thriller', 'european']",['US'],NaN,...,7.7,107673.0,10.010,7.300,0,0,1,1,0,0
3,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,"['fantasy', 'action', 'comedy']",['GB'],NaN,...,8.2,534486.0,15.461,7.811,1,0,0,1,1,0
4,tm120801,The Dirty Dozen,MOVIE,12 American military prisoners in World War II...,1967,NaN,150,"['war', 'action']","['GB', 'US']",NaN,...,7.7,72662.0,20.398,7.600,0,0,0,1,0,0

In [23]:
print('Para saber quais os gêneros mais comuns nos filmes e eliminar os menos relevantes, fizemos essa função para analisar gênero e popularidade, que recebe a base de dados e retorna uma lista com todos os gêneros')
filmes= dados.loc[(dados.type == 'MOVIE'), :]
def comum(dados):
    dados = dados.genres
    generos = []
    for i in range(0,len(dados)):
        lista = dados[i]
        for x in lista:
            if x not in generos:
                generos.append(x)
        i+=1
    return(generos)
gen_filmes = comum(dados) 
print(gen_filmes)

Para saber quais os gêneros mais comuns nos filmes e eliminar os menos relevantes, fizemos essa função para analisar gênero e popularidade, que recebe a base de dados e retorna uma lista com todos os gêneros
['[', "'", 'd', 'o', 'c', 'u', 'm', 'e', 'n', 't', 'a', 'i', ']', 'r', ',', ' ', 'h', 'l', 'p', 'f', 's', 'y', 'w']

In [4]:
#função para achar o limite superior e limite inferior das variáveis quantitativas
filmes= dados.loc[(dados.type == 'MOVIE'), :]

def valores_extremos(dados, vari):
    dados= dados[vari]
    Qter= dados.quantile(0.75)
    Qpri= dados.quantile(0.25)
    iq= Qter - Qpri
    LS = Qter + 1.5*iq
    LI= Qpri - 1.5*iq
    return(dados.loc[(dados>LI)&(dados<LS)])

valores_extremos(filmes, 'tmdb_popularity')

2       10.010
3       15.461
4       20.398
6       17.770
7       12.817
         ...
5841     1.383
5843     2.545
5845     1.466
5847    26.005
5848     1.296
Name: tmdb_popularity, Length: 3254, dtype: float64